<mat-toolbar class="app-footer2">
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <div class="img-parent">
          <img src="assets/banner/Pawly_s_Pet_Store_logo_x120@2x.png"
          class="footer-img d-inline-block" alt="logo">
        </div>
        <div class="if logo-txt">Pet Manager</div>
      </div>

      <div class="col-lg-10">
        <div class="mr-3">
          <span class="mr-2">{{footerTitle}} </span>
        </div>
      </div>

    </div>
  </div>
</mat-toolbar>
