.issue-border {
  border: 1px solid #e1e4e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-block {
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 140px;
  height: 80px;
  margin-right: 20px;
}

.image-block img {
  width: 100%;
  height: 100%;
}

.mat-line.issue-desc {
  color: #666666;
  font-size: 13px !important;
  line-height: 22px;
}

.mat-line.issue-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.mat-line.issue-meta {
  font-size: 13px !important;
  color: #888;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: inherit !important;
}

.mat-line.issue-title .text:hover {
  cursor: pointer;
  color: #3333ff;
}

.product-grid {
  width: 80%;
  margin: 10px auto;
}

.margin-right {
  margin-right: 5px;
}
